<%- include('../partials/head')%>

 <!-- Header -->
 <%- include("../partials/header") %>
    
    <main>
        <div class="courses_wrapper">
            <!-- <div class="courses-bg-img"><img src="/images/courses-bg.jpg" alt="bg-img"></div> -->
            
            <h2 class="h2_courses">Categorías</h2>
            <div class="courses_categories">

                <div class="course">
                    <div class="course_title">
                        <p>Finanzas</p>
                    </div>
                    <div class="course_img">
                        <a href="/courses/category/1"><img src="/images/-1.jpg" alt="course_img"></a> 
                    </div>
                    <div class="category_description">
                        <p>Todo sobre finanzas tradicionales y bla bla...</p>
                    </div>
                </div>
                <div class="course">
                    <div class="course_title">
                        <p>Criptomonedas</p>
                    </div>
                    <div class="course_img">
                        <a href="/courses/category/2"><img src="/images/-2.jpg" alt="course_img"></a> 
                    </div>
                    <div class="category_description">
                        <p>Aprendé qué es la tecnología Blockchain y cómo generar ingresos con crypto monedas.</p>
                    </div>
                </div>
                <div class="course">
                    <div class="course_title">
                        <p>Real estate</p>
                    </div>
                    <div class="course_img">
                        <a href="/courses/category/3"><img src="/images/-3.jpg" alt="course_img"></a> 
                    </div>
                    <div class="category_description">
                        <p>Aprendé a invertir en Real Estate con esta serie de videos. Pozos de inversión, etc...</p>
                    </div>
                </div>
            </div>

            <h2 class="h2_courses">Cursos</h2>
            <div class="courses_container">

                <% for(let i=0;i<courses.length; i++){%>
                    <div class="course">
                        <div class="course_title">
                            <p> <%= courses[i].name %> WTF</p>
                        </div>
                        <div class="course_img">
                           <a href="/course/<%=courses[i].id%>">
                                <img src="/images/<%=courses[i].id%>B.jpg" alt="course_img">
                            </a> 
                        </div>
                        <p> Categoría: <%= courses[i].category.name%></p>   
                    </div>

                <%} %>
            
            </div>
        </div>
    </main>

<%- include('../partials/footer')%>