<%- include('../partials/head')%>

 <!-- Header -->
 <%- include("../partials/header") %>

    <main>
        <div class="individual_course_wrapper">
                       <p>Detalles del curso</p>
                       <div class="individual_course">
                        <div class="course_title">
                            <h2> <%= course.name %> </h2>
                        </div>
                        <a id="admin_link" href="/courses/edit/<%=course.id%>">Editar Curso</a>
                        <a id="admin_link" href="/videos/crear">Agregar videos al Curso</a>
                        
                        <div class="course_description">
                            <p><%=course.description%></p>
                        </div>
                        
                        <div class="individual_course_img">
                            <img src="/images/<%=course.id%>B.jpg" alt="course_img">
                        </div>

                        <div class="subscribe_to_course">
                            <!-- Crear CRUD para dessubscribirse DELETE entry -->
                            <% if(course.users.length>0){ %>
                                <% for(let i=0;i<course.users.length; i++){ %> 
                                        <% if(course.users[i].id==userLogged.id){ %> 
                                            <form class="form_plain" action="/course/<%=course.id%>?_method=DELETE" method="POST">
                                                <input class="hidden_input" type="text" name="id_course" id="id_course" value="<%=course.id%>">
                                                <button type="submit" class="subscribe_to_course_btn">Darme de baja de este curso</button>
                                            </form>
                                    <% } else { %>
                                        <form class="form_plain" action="/course/<%=course.id%>" method="POST">
                                            <input class="hidden_input" type="text" name="id_course" id="id_course" value="<%=course.id%>">
                                            <button type="submit" class="subscribe_to_course_btn">Subscribirme a este curso</button>
                                        </form>
                                   <% } } %>
                            <% } else { %> 
                                    <form class="form_plain" action="/course/<%=course.id%>" method="POST">
                                        <input class="hidden_input" type="text" name="id_course" id="id_course" value="<%=course.id%>">
                                        <button type="submit" class="subscribe_to_course_btn">Subscribirme a este curso</button>
                                    </form>
                                    <% } %>
                        </div>
                    </div>

    </div>

    <div class="course_videos_wrapper">
        <div class="course_videos">
            
            <p>Videos del curso</p>

            <div class="video_container">
                

                    <% for(let i=0; i<course.videos.length; i++) {%>
                        <div class="video_container_course">
                            <iframe width="560" height="315" src=<%= course.videos[i].url.replace('/watch?v=', '/embed/') %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <p class="video_title_inside_course"> <a target="blank" href="<%=course.videos[i].url%>"><%= course.videos[i].title %> </a> </p>

                        </div>
                    <% } %> 
                    
                
            </div>
           
        
        </div>
    </div>

    </main>

    


<%- include('../partials/footer')%>