<%- include("../partials/head") %>

	<%- include("../partials/header") %>

	<main>
		<div class="main_wrapper_n">
			<div class="main_container">
				<section class="index_section1">
					<h2>Bienvenido a <br> Crowdium Academy</h2>
					
					<form class="project_input_form" action="/courses/crear" method="POST" enctype="multipart/form-data">
						<fieldset class="project_i_f_field" id="fieldset1">
							<legend>Crear curso</legend>
							<div class="label_input_pair">
								<label for="name">Nombre:</label>
								<input type="text" name="name" id="name" placeholder="ej.: Finanzas y ahorros">
							</div>
							<div class="label_input_pair">
								<label for="description">Descripción:</label>
                                <textarea name="description" id="description" cols="18" rows="5" placeholder="Curso sobre estos temas, veremos cómo empezar a..."></textarea>
							</div>

							<div class="label_input_pair">
                                <label for="id_category">Categoría:</label>
								<select name="id_category" id="id_category" required>
                                    <option value="" disabled selected> Seleccione categoría</option>
                                    <% categories.forEach(category =>{%>
                                        <option value="<%=category.id%>" > <%=category.id%>. <%= category.name %></option>
                                    <%}); %> 
                                </select>
								
							</div>
                            <!-- Imagen MULTER -->
                            <div class="upload_file">
                                <input type="file" name="upload_img" id="upload_img">
                                <label for="upload_img">Upload Image (this will be a drag and drop)</label>
                            </div>


						</fieldset>
						<button class="login_button log" type="submit">Crear</button>
			
					</form>

				</section>
			</div>
		</div>
		

	</main>

	<%- include('../partials/footer')  %> 