<%- include('partials/head')%>
 
<!-- Header -->
<%- include("partials/header") %>
    
    <main>
        <div class="my_courses_wrapper">
            <h2 class="h2_courses">Empieza tu aventura financiera</h2>
            <div class="my_courses_container">

                <% for(let i=0;i<video.length; i++){%>
                    <div class="course">
                        
                        <div class="course_img">
                            <!-- The Image is not from the YT video... No need -->
                            <a target="blank" href="<%=video[i].url%>"><img src="/images/<%=video[i].id%>B.jpg" alt=""> </a> 
                                   
                        </div>
                        <div class="course_title">
                            <p> <%= video[i].title %> </p>
                        </div>
                    </div>
                <%} %>
            
            </div>
        </div>
    </main>

<%- include('partials/footer')%>