

	<%- include("../partials/head") %>

	<%- include("../partials/header") %>

	<main>
		<div class="main_wrapper_n">
			<div class="main_container">
				<section class="index_section1">
					<h2>Bienvenido a <br> Crowdium Academy</h2>
					
					<form class="project_input_form" action="/new-user" method="POST">
						<fieldset class="project_i_f_field" id="fieldset1">
							<legend>Crea tu usuario</legend>
							<div class="label_input_pair">
								<label for="first_name">Nombre:</label>
								<input type="first_name" name="first_name" id="first_name">
							</div>
							<div class="label_input_pair">
								<label for="last_name">Apellido:</label>
								<input type="last_name" name="last_name" id="last_name">
							</div>

							<%if(locals.errors && errors.email){%>
								<p class="errors"><%= errors.email.msg %></p>
							<% } %> 

							<div class="label_input_pair">
								
								<label for="email">Email:</label>
								<input type="email" name="email" id="email">
							</div>

							<%if(locals.errors && errors.password){%>
								<p class="errors"><%= errors.password.msg %></p>
							<% } %> 

							<div class="label_input_pair">
								<label for="password">Password:</label>
								<input type="password" name="password" id="password">
							</div>
						</fieldset>
						<button class="login_button log" type="submit">Crear</button>

						<p>¿Ya estás registrado?</p>
						<p class="new_user_a">  <a href="/login">Log in</a> </p>
			
					</form>

				</section>
			</div>
		</div>
		

	</main>

	<%- include('../partials/footer')  %> 